fastapi
uvicorn[standard]
gunicorn
pydantic
google-generativeai
slowapi
pyjwt
passlib
python-multipart
azure-keyvault-secrets
azure-identity
python-dotenv
azure-storage-blob
langchain-core
langchain-openai
langchain-community
azure.storage.blob


