fastapi
uvicorn[standard]
gunicorn
pydantic
google-generativeai
slowapi
pyjwt
passlib
python-multipart
azure-keyvault-secrets
azure-identity
python-dotenv
azure-storage-blob
langchain==0.3.27
langchain-core==0.3.79
langchain-openai==0.3.33
langchain-community==0.3.29
langchain-google-genai==2.0.10
langchain-text-splitters==0.3.9
azure.storage.blob


